<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
  <script src="try.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="bootstrap.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Charmonman|Kaushan+Script|Mirza|Marck+Script|Noto+Serif+KR|Tinos|Euphoria+Script|Antic+Slab" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="home.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
</head>
<body >

<nav class="navbar navbar-inverse">

  <div class="container-fluid">
    <div class="navbar-header">

    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a style="text-align: center;" class="navbar-brand" >  GroupChat</a>

    </div>
    <div class="collapse navbar-collapse myNavbar">
    	<ul class="nav navbar-nav">
      		<li class="active"><a href="/">Home</a></li>
    	</ul>
    	<ul class="nav navbar-nav navbar-right myNavbar">
          <li><a data-toggle="modal" href="#exampleModal"><span class="glyphicon glyphicon-PLUS"></span> FeedBack</a></li>
      		<li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      		<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<h3 style="text-align: center; font-size: 4vw;color:black;font-family:Kaushan Script;margin-top: 0px"><img src="https://static.thenounproject.com/png/64410-200.png" width=100 height =100>GroupChat</h3>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->

    <div class="carousel-inner">
        <div class="item active">
            <img style="margin:0 auto" class="img-responsive" src="https://imgix.bustle.com/uploads/image/2018/6/26/2fb32126-9494-4d39-8aad-88a2ede10dfc-roommates_pizza_phone.jpg?w=945&h=574&fit=crop&crop=faces&auto=format&q=70" alt="Chania">
          </div>

      <div class="item ">
        <img style="margin:0 auto" class="img-responsive" src="https://thumbs.dreamstime.com/b/groupe-de-jeunes-meilleurs-amis-de-hippie-avec-l-ordinateur-portable-d-ordinateur-47475045.jpg" alt="Chicago">
      </div>

      <div class="item">
        <img style="margin:0 auto" class="img-responsive" src="http://www.4moms.gr/wp-content/media/Ladies-Pamper-Expo-960x500.jpg" alt="New York">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<!--<div class="container">
  <img src="http://globalgateways.co.in/visa/wp-content/uploads/2018/02/Canada-4.jpg" alt="Snow" style="width:100%;background-repeat: no-repeat;background-size: cover">
 </div> -->
 <br>
 <br>
    <div >
        <ul>
          <li style="color:black;text-align: center; font-size: 4vw; list-style-type: none;font-family: Marck Script;margin-top: 0px" >&nbsp &nbsp
            <span class="glyphicon glyphicon-wrench"></span>Building A Network</li>
        </ul>
      </div>

      <!-- <section class="story-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding" id="section">
          <div class="container text-center">
             <h2 >
                Ab<span class="glyphicon glyphicon-globe" style="vertical-align: top"></span>ut Us
             </h2>
             <h3>
                <span style="text-decoration:line-through;">---------</span> OUR STORY<span style="text-decoration:line-through;">---------</span></h3>
             <div class="col-md-8 col-md-offset-2">
                <div class="red-border">
                   &nbsp;
                </div>
                <p class="ct-u-size10 ct-u-fontWeight300 ">
                </p>
                <!-- <a class="ct-u-margi --><!-- nTop60 btn btn-solodev-red btn-fullWidth-sm ct-u-size19" href="#">Learn More</a> -->
             </div>
          </div>
       </section>
       <!-- <div class="ct-pageWrapper" id="ct-js-wrapper"> -->
       <!-- <section class="company-heading intro-type" id="parallax-one">
          <div class="container">
             <div class="row product-title-info">
                <div class="col-md-100">
                   <h1>
                      "Every great dream begins with a dreamer..."
                   </h1>
                </div>
             </div>
          </div> --> -->
          <div class="parallax" id="parallax-cta" style="background-image:url(https://raw.githubusercontent.com/ArleneDcosta/ArleneDcosta/master/hero.jpg)">
             &nbsp;
          </div>
       </section>
       <section class="culture-section company-sections ct-u-paddingBoth100 paddingBothHalf noTopMobilePadding">
          <div class="container">
             <div class="col-md-20 col-md-offset-2">
                <!-- <h2>
                   <span class="glyphicon glyphicon-globe"></span>verHere
                </h2>
                <h3>
                   <span class="glyphicon glyphicon-wrench"></span>Building A Network
                </h3> -->
                <p class="ct-u-size22 ct-u-fontWeight300 ct-u-marginBottom60">
                   Developed by:<br>
                   Following students at Fr conceicao Rodrigues college of engineering:
                </p>
             </div>
             <div class="row ct-u-paddingBoth20">
                <div class="col-md-4">
                   <div class="company-icons-white">
                      <i class="fa fa-home" aria-hidden="true"></i>
                      <p>
                         PRABHJYOT KAUR BAMRAH
                 <br>
                 <br>
                 <img src="https://github.com/ArleneDcosta/ArleneDcosta/blob/master/views/prab.jpg?raw=true" width="100px" height="100px">
                 <br>
                 <br>

                       Pursuing IT Engineering<br>
                       Currently in 3 Year<br>
                       Email:bamrahprabhjyot@gmail.com
                      </p>

                   </div>
                </div>
                <div class=" col-md-4">
                   <div class="company-icons-white">
                      <i class="fa fa-home" aria-hidden="true"></i>
                      <p>
                         CHIRAMEL RIYA FRANCIS
                 <br>
                 <br>
                 <img src="https://github.com/ArleneDcosta/ArleneDcosta/blob/master/views/riya.jpg?raw=true" width="100px" height="100px">
                 <br>
                 <br>

                       Pursuing IT Engineering<br>
                       Currently in 3 Year<br>
                       Email:riyafrancis1998@gmail.com
                      </p>
                   </div>
                </div>
                <div class="col-md-4">
                   <div class="company-icons-white">
                      <i class="fa fa-home" aria-hidden="true"></i>
                      <p>
                        ARLENE D"COSTA
                 <br>
                 <br>
                 <img src="https://github.com/ArleneDcosta/ArleneDcosta/blob/master/views/arlene.jpg?raw=true" width="100px" height="100px">
                 <br>
                 <br>

                       Pursuing IT Engineering<br>
                       Currently in 3 Year<br>
                       Email:arlenedcosta77@gmail.com
                      </p>
                      </p>
                   </div>
                </div>




             </div>
          </div>

       </section>

    <br>

  <div class="footer" >


    <div class="Content">
      <h4 style="font-family:Mirza;font-size:3vw">We'd love to <br>hear from You</h4>
        <ul style="list-style:none">
            <li style="font-family: Gloria;font-size: 2vw"><span class="glyphicon glyphicon-arrow-right"></span><a href="mailto:bamrahprabhjyot@gmail.com?">Email Us</a></li>
            <li style="font-family: Gloria;font-size: 2vw"><span class="glyphicon glyphicon-arrow-right"></span><a href="https://www.facebook.com/arlene.dcosta" target="_blank">FaceBook Link</a></li>
            <li style="font-family: Gloria;font-size: 2vw"><span class="glyphicon glyphicon-arrow-right"></span><a href="https://www.linkedin.com/in/riya-chiramel-8093a1162/" target="_blank">LinkedIn Profile</a></li>
        </ul>
      </div>
      <div class="Content">
          <h4 style="font-family:Mirza;font-size:3vw">To Know More <br>About Us</h4>
            <ul style="list-style:none">
                <li style="font-family: Gloria;font-size: 2vw"><span class="glyphicon glyphicon-arrow-right"></span>&nbsp Click here</li>
            </ul>
      </div>
      <div class="Content">
          <h4 style="font-family:Mirza;font-size:3vw">Features</h4>
            <ul style="list-style:none">
                <li style="font-family: Gloria;font-size: 2vw"><span class="glyphicon glyphicon-arrow-right"></span>Group Chat</li>
                <li style="font-family: Gloria;font-size: 2vw"><span class="glyphicon glyphicon-arrow-right"></span>Send Location</li>
                <li style="font-family: Gloria;font-size: 2vw"><span class="glyphicon glyphicon-arrow-right"></span>Transfer Files</li>
            </ul>
      </div>
    </div>
<br>
<br>

<form action="mailto:bamrahprabhjyot@gmail.com" method="post" >

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><h3>Thanks! Please help us improve.</h3></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>How would you rate the overall Experience?</p>
        <input type="radio" name="exp" value="Good">Good &nbsp;
        <input type="radio" name="exp" value="Average">Average &nbsp;
        <input type="radio" name="exp" value="Bad">Bad
        <br>
        <h4>Please leave a Comment</h4>
        <textarea rows="5" cols="75" name="comment">
        </textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
</div>
</form>
</body>
</html>
